include LICENSE
include requirements.txt
include README.md
include CONTRIBUTING.rst
include anchore_engine/conf/*
include anchore_engine/conf/bundles/*
include anchore_engine/conf/clamav/*
include anchore_engine/analyzers/modules/*
global-include swagger.yaml