pytest
Flask-Testing
memory_profiler
docker==4.3.1
coverage==5.3.1
# This is here to ensure that virtualenvs have this installed since our normal docker build installs it via an rpm for fips-support.
psycopg2-binary==2.8.4
itsdangerous==2.0.1
Jinja2==3.0.3
