Twisted[tls]==17.5.0
pg8000==1.10.6
boto3==1.4.4
botocore==1.5.67
chardet==3.0.4
click==6.7
clickclick==1.2.1
connexion==1.1.10
docker-py==1.10.6
enum34==1.1.6
docutils==0.13.1
Flask==0.12.2
functools32==3.2.3.post2
futures==3.1.1
idna==2.5
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
MarkupSafe==1.0
pathlib==1.0.1
python-dateutil==2.6.0
pytz==2012d
PyYAML==3.12
requests==2.17.3
s3transfer==0.1.10
six==1.10.0
SQLAlchemy==1.1.10
swagger-spec-validator==2.1.0
typing==3.6.1
urllib3==1.21.1
watchdog==0.8.3
Werkzeug==0.12.2
passlib==1.7.1
prometheus_client==0.1.1
prometheus-flask-exporter==0.1.2
anchore
certifi
python-swiftclient